:root {
  --primary-color: hsla(125, 100%, 20%, 1);
  --primary-color-light: hsla(125, 100%, 30%, 1);

  --font-size: 1rem;
  --header-height: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
