main {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: scroll;
  background-color: white;
  z-index: 1;
  padding: 1rem;
}

.hero,
.services,
.booking,
.about-us,
.rooms,
.contact-us {
  text-align: center;
}

hr {
  border: 1px dotted var(--primary-color-light);
  margin-block: 3rem;
  max-width: 20rem;
}

.amenity,
.service {
  padding-block: 1rem;
}

.service {
  opacity: 0;
  transition: opacity 1s;
  &.show {
    opacity: 1;
  }
}

.amenity {
  transform: scale(0);
  transition: transform 1s;
  &.show {
    transform: scale(1);
  }
}

.icon {
  color: var(--primary-color-light);
  font-size: calc(3 * var(--font-size));
}
