form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-block: 2rem;

  input,
  textarea {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: calc(0.9 * var(--font-size));

    border: none;
    border-bottom: 1px solid gray;

    &::placeholder {
      color: gray;
    }
  }
}
