.menu {
  --menu-width: 2.5rem;
  --thickness-ratio: 0.1;
  --shiftup: calc((-2.7 * var(--thickness-ratio)) * var(--menu-width));
  --shiftdown: calc((2.7 * var(--thickness-ratio)) * var(--menu-width));

  width: var(--menu-width);
  height: var(--menu-width);
  // border-radius: 1rem;
  // background-color: hsla(0, 50%, 50%, 0.5);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;

  span {
    width: 66%;
    height: calc(var(--thickness-ratio) * var(--menu-width));
    // border-radius: calc(var(--thickness-ratio) * var(--menu-width));
    background-color: hsl(0, 100%, 100%);
    position: relative;
    transition: transform 0.2s;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: " ";
      width: 100%;
      height: calc(var(--thickness-ratio) * var(--menu-width));
      // border-radius: calc(var(--thickness-ratio) * var(--menu-width));
      background-color: hsl(0, 100%, 100%);
      transition: transform 0.2s;
    }

    &:before {
      top: var(--shiftup);
    }
    &:after {
      top: var(--shiftdown);
    }
  }

  &.toggled {
    background-color: var(--primary-color-light);
    span {
      background: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);

        // background-color: black;
      }
    }
  }
}
