.slider {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  // fallback
  @supports not (aspect-ratio: auto) {
    height: 300px;

    @media (min-width: 800px) {
      height: 500px;
    }
  }

  > figure {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
    z-index: 1;

    // display: none;
  }

  overflow: hidden;

  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    // border: 1px solid var(--primary-color);
    top: 50%;
    z-index: 10;
    // background-color: var(--primary-color-light);
    color: white;
    transform: translatey(-50%);

    &.left,
    &.right {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.left {
      left: 1rem;
    }
    &.right {
      right: 1rem;
    }
  }
}
